# Application
APP_NAME=node-mind-server
APP_PORT=3001
APP_HOST=0.0.0.0
NODE_ENV=development

# PostgreSQL
POSTGRES_DB=node_mind
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/node_mind

# pgAdmin
PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=admin
PGADMIN_PORT=5050
